
$oham-tab:         #999999 !default;
$oham-default-bg:  #eaecde !default;
$oham-tab-active:  #44526d !default;
$oham-divider:     #44526d !default;
$oham-header:      #297ca8 !default;

.page-map {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 100%;
    height: 100% !important;*/
    background-color: $oham-default-bg;
	overflow: hidden;

    .oregon-button {
        position: absolute;
        bottom: 38px;
        right: 15px;
        font-size: 28px;
    }

    .map-header {
        height: 29px;
        padding-top: 4px;
        padding-left: 8px;

        #search-area {
            float: right;
            width: 200px;
            margin-top: -2px;

            input {
                height: 25px;

            }
        }
    }

    .tab-icon {
        height: 25px;
        margin-top: -5px;
    }

    .list-icon {
        height: 30px;
    }

    .species-header-icon {
        height: 50px;
    }

    #species {
        height: 100%;
        position: relative;
        header {
            text-align: right;
            margin-right: 20px;
        }
    }

    #list {
        height: 100%;
        position: relative;
        header {
        }
    }

    #listContainer {
        height: 100%;

        header {
        }

        .list-loading {
            height: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin-top: 100px;
        }
    }

    #search {
        height: 100%;
        position: relative;
        header {
        }
    }

    #map-tab {
        height: 100%;
    }

    .favorite {
        float: right;
    }

    .species-scroller {
        position: absolute;
        top: 40px;
        left: 0;
        bottom: 30px;
        right: 0;
        overflow: auto;
    }

    .list-scroller {
        position: absolute;
        top: 40px;
        left: 0;
        bottom: 30px;
        right: 0;
        overflow: auto;
    }

    .help-scroller {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 30px;
        right: 0;
        overflow: auto;
    }

    .search-scroller {
        position: absolute;
        top: 80px;
        left: 0;
        bottom: 30px;
        right: 0;
        overflow: auto;
    }

    .map-container {
        width: 100%;
        height: 75%;
        background-color: $brand-primary;
        border-bottom: 1px solid darken($brand-primary, 5%);
        padding: 45px 0 0;
        @media (min-width:$screen-sm) {
            padding: 100px 0 0;
        }
    }
    .map-status {
        h1 {
            margin: 0 0 -45px;
            color: $bright;
            font-size: 100px;
            @media (min-width:$screen-sm) {
                font-size: 180px;
            }
        }
    }
    .map-message {
        background-color: $brand-primary;
        padding: 24px;
        text-transform: uppercase;
        h2 {
            font-size: 32px;
            color: $reverse;
            font-weight: 300;
            @media (min-width:$screen-sm) {
                font-size: 50px;
            }
        }
    }

    .map-body {
        padding: 20px 10px;
    }

    .btn-goback {
        color: $reverse;
        background-color: transparent;
        border-color: $reverse;

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: lighten($brand-primary, 5%);
            background-color: $reverse;
        }
        .open & {
            &.dropdown-toggle {
                color: lighten($brand-primary, 5%);
                background-color: $reverse;
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: white;
        height: 2.4em;
        z-index: 80;
    }

    .map-menu {
        position: absolute;
        left: 10px;
        top: 40px;
        z-index: 80;
        pointer-events: none;

        @media (max-width: $screen-md) {
            left: 10px;
            top: 30px;
        }

        button, a {
            background-color: rgb(211, 211, 211);
            border: 5px solid rgb(211, 211, 211);
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;

            &:focus {
                outline: 0;
            }

            pointer-events: all;
            clear: left;
            width: 100px;
            height: 100px;
            opacity: 0.85;
            padding-top: 0px;
            float: left;

            @media (max-width: $screen-md) {
                width: 2em;
                height: 2em;
            }

            img {
                width: 50px;
                margin-top: -10px;

                @media (max-width: $screen-md) {
                    width: 32px;
                    margin-top: -5px;
                }

            }

            .glyphicon {
                margin-top: -40px;
                font-size: 2em;
                color: black;

                @media (max-width: $screen-md) {
                    margin-top: -60px;
                    font-size: 1em;
                }

            }

            &.active {
                border: 5px solid white;
            }

            span {
                color: black;
                text-align: center;
                width: 90px;
                font-size: 0.7em;
                margin-bottom: -14px;
                left: 0px;

                @media (max-width: $screen-md) {
                    visibility: hidden;
                }

            }
        }


        .menu-expander {
            margin-left: 0px;
            float: left;
            transition:0.2s linear all;

            button {
                clear: none;
            }
        }

        .menu-expander.ng-show {
            opacity:1;
        }

        .menu-expander.ng-hide {
            opacity:0;
        }

        .main-menu {
            background-color: lightgray;
        }

        .main-menu-sub {
            background-color: lightgray;
        }


    }

     .gps-button {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 6px;
        top: 180px;
        z-index: 80;
        color: lightgray;
        padding-left: 7px;
        padding-top: 2px;
        background-color: #555252;
        pointer-events: all;
        opacity: 0.8;
        font-size: 1.9em;
        cursor: pointer;

        &.mobile {
            top: 133px;
        }
    }

     #basemapButton {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 6px;
        top: 255px;
        z-index: 80;
        color: lightgray;
        background-color: #555252;
        pointer-events: all;
        opacity: 0.8;
        cursor: pointer;

        &.mobile {
            top: 183px;
        }

        img {
            margin-top: 7px;
            margin-left: 3px;
        }

        .glyphicon {
                top: 7px;
                left: 6px;
                line-height: 1;
                font-size: 2em;
                color: white;

                @media (max-width: $screen-md) {
                }

            }
    }

    #home-button-panel, #share-button-panel, #print-button-panel {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 6px;
        top: 105px;
        z-index: 80;

        &.mobile {
            top: 33px;
        }

        button {
            background-color: #555252;
            pointer-events: all;
            width: 40px;
            height: 40px;
            opacity: 0.8;
            padding-top: 0px;

            @media (max-width: $screen-md) {
            }

            .glyphicon {
                top: 0px;
                line-height: 1;
                font-size: 0.8em;
                color: white;

                @media (max-width: $screen-md) {
                }

            }

            img {
                top: 0px;
                width: 30px;
                margin-top: -8px;

                @media (max-width: $screen-md) {
                }

            }

        }
    }

    &.print {
        #print-button-panel {
            height: 40px;
            width: 120px;
            right: 50px;
            top: 6px;

            button {
                background-color: #555252;
                pointer-events: all;
                width: 120px;
                height: 40px;
                opacity: 0.8;
                padding-top: 0px;

                img {
                    top: 0px;
                    left: 0px;
                    width: 30px;
                    margin-top: -8px;

                    @media (max-width: $screen-md) {
                    }

                }

            }
        }
    }

    #share-button-panel {
        top: 155px;
        pointer-events: none;

        button {
            position: absolute;
            right: 0;
            top: 0;
        }

        &.mobile {
            top: 83px;
        }

    }

    #print-button-panel {
        top: 205px;
        height: 25px;
        width: 25px;
        pointer-events: none;

        button {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .share-panel {
        border: 1px solid #777;
        border-radius:5px;
        z-index: 1000;
        pointer-events: all;
        position: absolute;
/*        right: 0;
        top: 30px;*/
        width: 270px;
        height: 60px;
        background-color: white;

        img {
            width: 18px;
        }

        input {
            width: auto;
        }

        a {
            color: #777777;
        }

        .share-side {
            height: 40px;
            margin-top: 10px;
            padding: 10px;
            float: left;
        }

        .share-side {
            width: 175px;
            margin-top: 8px;
        }
    }

}

.popup-content {
    button {
        background-color: #555252;
        pointer-events: all;
        width: 20px;
        height: 20px;
        opacity: 0.8;
        padding-top: 0px;

        @media (max-width: $screen-md) {
        }

        .glyphicon {
            top: -7px;
            line-height: 1;
            font-size: 0.5em;
            color: white;

            @media (max-width: $screen-md) {
            }

        }

        img {
            top: -12px;
            width: 18px;
            margin-top: -15px;

            @media (max-width: $screen-md) {
            }

        }

    }
}
.favorite-button {
    float: left;
    margin-top: 0px;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
    color: #daa520;
}

.modal-close {
    float: right;
    cursor: pointer;
    font-size: 2em;
    margin-top: 0px;
    margin-left: 5px;
}


#content {
    background-color: $oham-default-bg;
    overflow: hidden;
}

img.oham-icon {
    width: 18px;
    height: 18px;
}
i.oham-icon {
   font-size: 24px;
}

#infowindow_content .tab-pane h3 {
    margin-top: 8px;
}
/* OM-51 InfoPopup sizing */
#infowindow_content {
     height: auto;
     width: 200px;
     overflow: auto;
     @media (min-width: $screen-sm) {
         display: 200px;
     }

     h3 {
         font-size: 20px;
     }

     h2 {
         font-size: 14px;
     }
}
#infowindow_content .tab-pane {
    margin-bottom: 25px;
}

#infowindow_content, .modal-content {
    a {
        text-decoration: underline;
    }
    h3 > a {
        text-decoration: none;
    }
}

/* OM-51 fix placement of close button on full-details modal */
.modal-header h3 {
    margin-top: 5px;
    font-size: 18px;
}

/* OM-51 compact tabs in info popup */
#infowindow_content .nav > li > a {
    padding: 4px;
}

#mapPage > .ui-tab {
    .nav-tabs > li > a {
        color: #fff;
        background-color: $oham-tab;
        padding: 4px 8px;
        margin-right: 0;
        font-size: 16px;
        border-bottom: 1px solid $oham-tab-active;
    }
    .nav-tabs {
        background-color: $oham-tab;
        border-bottom: 3px solid $oham-tab-active;
    }
    .nav-tabs > li.active > a {
        background-color: $oham-tab-active;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #fff;
    }
    .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border-color: transparent;
        border-bottom-color: $oham-tab-active;
    }
    .glyphicon {
        font-size: 80%;
    }
}

#infowindow_content h3, #list h2, #list h3, #search h3 {
    margin-top: 0;
}
#infowindow_content h3 a, #list h3 a, #search h3 a {
    color: $oham-header;
    font-weight: bold;
    font-size: 18px;
}

#list, .search-scroller {
    background-color: $oham-default-bg;
}
#list .list-scroller > div, .search-scroller > div {
    padding: 12px 30px;
    border-bottom: 1px solid $oham-divider;
}
#list {
    z-index: 81;
    header h2 {
        text-align: center;
        font-size: 18px;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .favorite {
        color: #daa520;
        font-size: 24px;
    }
}

#search {
    z-index: 81;
    header {
        padding: 12px 30px;
        background-color: $oham-default-bg;
        border-bottom: 1px solid $oham-divider;

        h2 {
            font-size: 18px;
            margin-top: 0;
        }
    }
}

#species {
    background-color: $oham-default-bg;
    z-index: 81;

    header {
        padding: 6px 0;
    }

    .species-scroller {
        padding: 0px 30px;
        ul li {
             border-bottom: 1px solid $oham-divider;
             position: relative;
             label {
                 margin-top: 6px;
                 margin-bottom: 6px;
             }
             .switch i {
                 position: absolute;
                 right: 0px;
                 top: 6px;
             }
             .check input {
                 position: absolute;
                 right: 0px;
                 top: 6px;
                transform: scale(1.5);
                -webkit-transform: scale(1.5);
             }
        }
        ul.om-has-subcategories > ul {
            padding-left: 20px;
        }
        ul.om-has-subcategories > li {
            border-bottom: none;
        }
    }
}

.modal-body {
    white-space: pre-line;
        
    span.list-unstyled > div {
        position: relative;
        label {
            margin-top: 6px;
            margin-bottom: 6px;
        }
        .switch i {
            position: absolute;
            right: 0px;
            top: 6px;
        }
        .check input {
            position: absolute;
            right: 0px;
            top: 6px;
        }
    }
}

#help {
    background-color: $oham-default-bg;
    height: 100%;
    position: relative;
    z-index: 81;

    .list-scroller {
        padding: 12px;
        height: 100%;
    }
    header {
        padding-left: 15px;
        padding-right: 15px;
        h2 {
            margin-top: 10px;
        }
    }
    .img-responsive {
        max-width: 400px;
        width: 100%;
    }
}

#header .logo {
    background-color: #333333;
    line-height: 21px;
    font-size: 20px;

    padding-left: 3px;

    @media (min-width: $screen-md) {
        height: 100px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .menu-button {
        margin-top: 7px;
        width: 30px;
        line-height: 26px;
    }

    img {
        height: 40px;

        @media (min-width: $screen-md) {
            height: 80px;
        }
    }

}

.links-pane {
    background-color: $oham-default-bg;
    padding: 10px;
    #links-page {
        background-color: $oham-default-bg;
        .om-odfw-logo-wrap {
            text-align: right;
        }
        ul li {
             border-bottom: 1px solid $oham-divider;
             line-height: 1.2;
             padding: 8px 40px 8px 30px;
             text-indent: -8px;
        }
    }
}

.oham-oregon-png {
    width: 32px;
    height: 32px;
    display: block;
    background: url('../images/assets/icons/oregon_32.png') transparent 50% 50% no-repeat;
}

.gps-on {
    color: white;
}

@font-face {
	font-family: 'oham-icons';
	src:url('../fonts/oham-icons.eot?9qinou');
	src:url('../fonts/oham-icons.eot?#iefix9qinou') format('embedded-opentype'),
		url('../fonts/oham-icons.woff?9qinou') format('woff'),
		url('../fonts/oham-icons.ttf?9qinou') format('truetype'),
		url('../fonts/oham-icons.svg?9qinou#oham-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="oham-"], [class*=" oham-"] {
	font-family: 'oham-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.oham-gps2:before {
	content: "\e611";
}
.oham-oregon:before {
	content: "\e60b";
}
.oham-gps-off:before {
	content: "\e60f";
}
.oham-gps-on:before {
	content: "\e610";
}
.oham-oregon2:before {
	content: "\e60c";
}
.oham-predator:before {
	content: "\e60d";
}
.oham-filter:before {
	content: "\e60e";
}
.oham-boat:before {
	content: "\e600";
}
.oham-bow:before {
	content: "\e601";
}
.oham-car:before {
	content: "\e602";
}
.oham-handgun:before {
	content: "\e603";
}
.oham-migratory:before {
	content: "\e604";
}
.oham-rifle:before {
	content: "\e606";
}
.oham-shotgun:before {
	content: "\e607";
}
.oham-species:before {
	content: "\e608";
}
.oham-upland:before {
	content: "\e609";
}
.oham-walk:before {
	content: "\e60a";
}
.oham-help:before {
	content: "\e605";
}


.notices {
    color: red;
}

.thirtyPercentOpacity {

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=30); // IE 5-7

  /* Modern Browsers */
  opacity: 0.3;
}

.menu-button {
    display: block;
    position: absolute;
    top:  0px;
    right: 0px;
    width: 42px;
    padding: 0px 0px 0px 0px;
    border-radius: 4px;
    &:hover {
        cursor: pointer;
        /*background-color: darken($dark, 10%);*/
    }

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
    }
    .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    @media (min-width: $screen-sm) {
        display: none;
    }
}

.notices-icon {
    color: red;
}

.modal-dialog {
    @media (min-width: $screen-md) {
        width: 300px !important;
        margin: 30px auto;
    }
}

a.close-share-side{
    color:#BBB !important;
    cursor:pointer;
}

a.close-share-side:hover{
    color:#777 !important;
}

.view-feedback{
    width:160px;
    height:20px;
    text-align:right;
    background-color: #DDD;
    position:absolute;
    bottom:5px;
    right:10px
}

.clicky{
    cursor:pointer
}

.clicky:hover{
    color:#222;
}
