<div class="modal-header">
    <h3>How to view GeoPDFs</h3>
</div>
<div class="modal-body">
    To view the map, you must <b>FIRST</b> install the free Avenza PDF Maps app.  Then you can download the GeoPDF and follow your location, mark waypoints, check boundaries, and more while offline.
    <br>
</div>
<div class="modal-footer">
    <a class="btn btn-success btn-block col-md-12" href="{{storeUrl}}" target="_blank" style="text-decoration: none !important;">Install Avenza PDF Maps</a>
    <button class="btn btn-primary btn-block col-md-12" ng-click="ok()">Continue</button>
    <button class="btn btn-danger btn-block col-md-12" ng-click="cancel()">Cancel</button>
</div>
