<div class="popup-content">
    <div>
        <h3>{{feature.getProperty('Name')}}</h3>
    </div>

    <div>
        <div>
            <b>Capacity:</b>
            {{feature.getProperty('Capacity')}}
        </div>
        <div>
            <b>Fixit Repair Stand:</b>
            
            <a target='_blank' href="{{feature.getProperty('URL')}}"><u>{{feature.getProperty('Fixit')}}</u></a>

        </div>
    </div>
    <br />
    <button type="button" class="btn btn-metro btn-primary" ng-click="togglePopupShare($event)" ng-if="false">
        <img src="/map-icons/ic_share_24px.svg" />
    </button>
</div>

