<div class="popup-content">
    <div>
        <h3>{{feature.getProperty('NAME')}}</h3>
    </div>

    <div>
        <div>
            <b>Fixit Repair Stand</b>

        </div>
        <div>
           
            <a target='_blank' href="{{feature.getProperty('URL')}}"><u>More Info</u></a>

        </div>
    </div>
    <br />
    <button type="button" class="btn btn-metro btn-primary" ng-click="togglePopupShare($event)" ng-if="false">
        <img src="/map-icons/ic_share_24px.svg" />
    </button>
</div>

