<div class="popup-content">
    <div>
        <h3>{{feature.getProperty('Business_N')}}</h3>
    </div>

    <div>
        <div>
            {{feature.getProperty('Address')}}
        </div>
        <br />
        <div>
            <b>Phone:</b>
            {{feature.getProperty('Phone')}}
        </div>
    </div>
    <br />
    <button type="button" class="btn btn-metro btn-primary" ng-click="togglePopupShare($event)" ng-if="false">
        <img src="/map-icons/ic_share_24px.svg" />
    </button>
</div>